@charset "utf-8";
/* CSS Document */
html{font-size: 62.5%;}
body{color: #797979; font:12px/20px "宋体";color: #666;}
html,body,div,span,ul,li,ol,h1,h2,h3,h4,h5,h6,em,s,img,dl,dt,dd,a,p,marquee,table,tbody,tr,td,em{ padding:0; margin:0;}
img{ border:0;}
ul,ol{list-style:none;}
a{text-decoration:none;color: #333;}
a:hover{color:#f00;}
.w1007{width:1007px; margin:0 auto;}
.fl{float: left;}
.fr{float: right;}
.clearfix{zoom:1;}
.clearfix:after{display:block;clear:both;content:"";}



/* 首页头部 */
.header{width: 100%;border-bottom: 4px solid #0186D1;}
.top{text-align: right;height: 34px;line-height: 34px;}
.top .icon{background: url(../img/person.png) 0 -1px no-repeat;padding-left: 18px;vertical-align: middle;margin-right: 10px;}
.top .star{background-image: url(../img/star.png);}
.head .logo{float: left;width: 375px;height: 58px;overflow: hidden;background: url(../img/logo.jpg) 0 0 no-repeat;}
.head .logo a{display: block;width: 375px;height: 58px;text-indent: -9999px;}
.head .nav li{float: left;height: 59px;width: 75px;line-height: 49px;text-align: center;font-size: 1.4rem;font-family: '微软雅黑';}
.head .nav li a{display: block;height: 59px;line-height: 49px;}
.head .nav li a:hover{border-bottom: 4px solid #ee1f00; }

.head .nav_icon,.nav_list{display: none;}


/* 头部 end */
/* banner start */
#full-screen-slider { width:100%; height:502px; float:left; position:relative}
#slides { display:block; width:100%; height:502px; list-style:none; padding:0; margin:0; position:relative}
#slides li { display:block; width:100%; height:100%; list-style:none; padding:0; margin:0; position:absolute;-webkit-background-size: cover;
background-size: cover;}
#slides li a { display:block; width:100%; height:100%; text-indent:-9999px}
#pagination { display:block; list-style:none; position:absolute; left:50%; top:555px; z-index:9900;  padding:5px 15px 5px 0; margin:0}
#pagination li { display:block; list-style:none; width:10px; height:10px; float:left; margin-left:15px; border-radius:5px; background:#FFF }
#pagination li a { display:block; width:100%; height:100%; padding:0; margin:0;  text-indent:-9999px;}
#pagination li.current { background:#0092CE}
/* banner end */

/* banner效果CSS开始 */
.mBan2 { overflow: hidden; }
.mBan2 .slideBox{ width:100%; height:auto; position:relative; }
.mBan2 .slideBox .hd{ height: 10px; overflow: hidden; position: absolute; bottom: 4px; z-index: 1; width: 81px; background: url(../images/btnBg.png) no-repeat; margin-left: -46px; left: 50%; padding: 4px 0px 0px 11px; }
.mBan2 .slideBox .hd ul{ zoom: 1; }
.mBan2 .slideBox .hd ul li{ float: left; width: 6px; height: 6px; background: url(../img/btn1.png) no-repeat; cursor: pointer; margin-right: 10px; }
.mBan2 .slideBox .hd ul li.on{ background: url(../img/btn2.png) no-repeat; }
.mBan2 .slideBox .bd{ position:relative; height:100%; z-index:0;   }
.mBan2 .slideBox .bd ul,.slideBox .bd ul li{width:100%!important}
.mBan2 .slideBox .bd img{ width:100%; height:auto; display:block;  }
/* banner效果CSS结束 */


/* main start */
.main_top{padding: 38px 0;}
.con{float: left;}
.con .con_title{padding-bottom: 15px;} 
.con .con_title span{font-size: 1.4rem;}
.con .con_title .sty{font-weight: normal;color: #666;font-family: Arial;}
.con .con_details .con_zx li{background: url(../img/arrow.jpg) left center no-repeat;height: 25px;line-height: 25px;padding-left: 18px;overflow: hidden;}
.con_consult{width: 340px;}
.con_profile{width: 313px;margin-left: 40px;}
.con_contact{width: 260px;float: right;}

.hot_pro{float: none;margin-bottom: 38px;}


 
/*热门产品 start */

#div1{ width: 1007px; height: auto; position: relative;overflow: hidden;}
#div1 ul { width: 1007px; height: auto; position: relative; }
#div1 ul li { height: auto; float: left; list-style: none; margin-right:10px;border: 1px solid #ddd;position: relative;}
#div1 ul li img { width: 129px; height: 143px; display: inline-block;}
#div1 ul li span{display: block;width: 100%;height: 30px;line-height: 30px;background: rgba(205,205,205,0.8);text-align: center;position: absolute;bottom: 0;left: 0;}

/* 热门产品 end */



/* main end */


/* footer start */
.foot1{ background:url(../img/bg.jpg) repeat-x #F0F0F0;}
.foot2{ background-color:#DEDEDE; color:#666666;}
.foot1a{ width:1007px; margin:0px auto; padding:18px 0px;}
.foot2a{ width:1007px; margin:0px auto;}
.foot2 a{ color:#666666;}
.foot1a1{ width:60px; background:url(../img/wb.jpg) no-repeat left center; padding-left:20px; margin-top:32px;}
.foot1a2{ width:165px; margin-top:28px;}
.foot1a3{ width:440px; margin-top:13px; margin-left:60px; display:inline;}
.foot1a3 .search-keyword{ width:365px; height:28px; line-height:28px; border:1px #E3E3E3 solid; border-right:0px; padding-left:8px; color:#999; font-size:1.4rem;}
.foot1a4{ width:81px;}
dd,dt,dl{ margin:0px; padding:0px;}
.style1 {
	font-size: 1.4rem;
	font-weight: bold;
}

/* footer end */

.tools{display: none;}


/* 企业简介 start*/
.site_hotpro{margin-top: 30px;margin-bottom: 0;}


.cen1{width: 203px;margin: 35px 0;border: 1px solid #b9b9b9;}
.cen2{width: 786px;margin: 35px 0;}
.cen1a{ background-color:#4B84C9; color:#FFFFFF; padding-left:8px; font-size:1.4rem; font-family:Arial, Helvetica, sans-serif; height:34px; line-height:34px;}
.cen1b{ padding:10px;}
.cen1c{ margin:13px; background:url(../img/person2.jpg) no-repeat left center; padding-left:18px}
.cen1d{ padding:15px;}
.cen1b dt{ background:url(../img/arrow.jpg) no-repeat  left center; padding-left:20px; height:25px; line-height:25px; border-bottom:1px #CCCCCC dotted ;}
.cen1b dd{ height:23px; line-height:23px; padding-left:25px;}
.cen2a{ height:40px; line-height:40px; background:url(../img/15.jpg) no-repeat left center; padding-left:30px; color:#666666;}
.cen2b{ border:1px #BDBDBD solid; padding:15px 32px; min-height: 1000px;}
.cen2b dt{ width:176px; float:left; height:157px;}
.cen2b dt img{ width:174px;  border:1px #CECECE solid;}
.cen2b dl{ padding:19px 0px; border-bottom:1px #D0D0D0 dotted; height:159px;}
.cen2b dd{ width:500px; float:right; }

/* 企业简介 end*/

/* 产品展示 start */
/* 页码 */
.dede_pages{ text-align:center;overflow: hidden;}
.dede_pages ul{
	
	padding:12px 0px 12px 16px;
}
.dede_pages ul li{
	float:left;
	font-family:Tahoma;
	line-height:17px;
	margin-right:6px;
	border:1px solid #E9E9E9;
}
.dede_pages ul li a{
	float:left;
	padding:2px 4px 2px;
	color:#555;
	display:block;
}
.dede_pages ul li a:hover{
	color:#690;
	text-decoration:none;
	padding:2px 4px 2px;
}
.dede_pages ul li.thisclass,
.dede_pages ul li.thisclass a,.pagebox ul li.thisclass a:hover{
	background-color:#F8F8F8;
	padding:2px 4px 2px;
	font-weight:bold;
}

.dede_pages ul li.p2{display: none;}

.dede_pages .pageinfo{
	line-height:21px;
	padding:12px 10px 12px 16px;
	color:#999;
}
.dede_pages .pageinfo strong{
	color:#555;
	font-weight:normal;
	margin:0px 2px;
}
/* 产品展示 end */


.title{ text-align:center; padding-top:10px;}
.info{ text-align:center;}
.listbox{ padding-top:10px; padding-bottom:10px;}
.infolist{ text-align:center;}

.dede_pages .pagenormal strong{font-weight: 700;}

.maplist form .intxt{width: 200px}
.maplist form textarea{width: 300px;}



/* 产品列表start */

.cen_mob dl a{display:block;width: 100%;}

/* 产品列表 end */

/* 产品详情start */
.pro_details h4{text-align: center;padding:15px 0;}
.pro_details .title_desc{padding:5px 0;text-align: center;border: 1px solid #ddd;}
.pro_details .title_desc span{color: #f00;}
.pro_details_con{margin-top: 30px;}
.pro_details_con p{margin-bottom: 15px;}
.pro_details_con p img{width:432px;width: 100%;max-width: 432px;} 
.pro_details_con .operator{text-align: right;}
/* 产品详情end */

/* 资讯详情info start*/
.info_details h2,.info_details .info_desc{text-align: center;}
.info_details h2{padding: 15px 0 5px;}
.info_details .info_desc{padding-bottom: 15px;}
.info_details .info_desc em{font-style: normal;}
.info_details .info_con{padding-bottom: 20px;overflow: hidden;}
/* 资讯详情info end*/














/* ipad和iphone公用的样式 start*/


@media screen and (max-width: 1007px){
		html{-webkit-tap-highlight-color:transparent;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;}
		input, button, select, textarea { outline:none;-webkit-appearance: none;appearance: none; } 
		/* 首页 start*/
		.w1007{width: 100%;}
		.con{float: none;border-bottom: 1px dashed #ddd;padding-bottom: 2rem;}
		.con_consult,.con_profile,.con_contact,.hot_pro .con_title,.foot1a,.foot2a{width:100%;padding-left: 1.5rem;padding-right: 1.5rem;box-sizing:border-box;}
		.con_profile{margin:2rem 0;}
		.main_top{padding: 2rem 0;}
		.foot1a1,.foot1a2{display: none;} 
		.foot1a3{margin-left: 0;width: 70%;}
		.foot1a3 .search-keyword{width: 60%;float: left;}
		.foot1a3 span{float: left;}
		.foot2a span{float: none;display: block;}
		.foot2a{text-align: center;}
		/* 首页 end */
		.cen1{display: none;}
		.cen2{float: none;width: 100%;margin: 0 auto 20px;padding: 0 1.5rem;box-sizing:border-box;}
		.cen2b{min-height: 0;}
		.cen2b dl{height: auto;overflow: hidden;}
		.cen2b dt{width: 20%;height: auto;}
		.cen2b dt img{width: 100%;}
		.cen2b dd{width: 78%;}
		.dede_pages ul li.p2{display: inline-block;}
		.dede_pages ul li.p1{display: none;}

		.maplist form .intxt{width: 70%}
		.maplist form textarea{width: 80%;}
		#div,#div1{width: 100%;}






}


/* ipad和iphone公用的样式 end*/

/* ipad start*/


@media screen and (max-width: 1007px) and (min-width: 540px) {
	/* 首页 start*/
	.head .nav_icon,.nav_list,.tools{display: none;}
	.w1007{width: 100%;}
	.head .logo{float: none;margin: 0 auto;}
	.head .nav{float: none;}
	.head .nav li{width: 12.5%;box-sizing:border-box;}
	
	/* 首页 end*/
	.cen1{display: none;}
	.cen2{float: none;width: 100%;margin: 0 auto 20px;padding: 0 1.5rem;box-sizing:border-box;}
	.cen2b{min-height: 0;}
	.cen2b dl{height: auto;overflow: hidden;}
	.cen2b dt{width: 20%;height: auto;}
	.cen2b dt img{width: 100%;}
	.cen2b dd{width: 78%;}
	.dede_pages ul li.p2{display: inline-block;}
	.dede_pages ul li.p1{display: none;}

}


/* ipad end*/



/* iphone start */

@media screen and (max-width: 540px){
	/* 首页 start */
	.w1007{width: 100%;}
	.header{border-bottom: none;}
	.head .logo{width: 11.3rem;height:4.8rem;}
	.head .nav{display: none;}
	.head .nav_icon{display: block;margin:0.5rem 1rem 0 0;cursor: pointer;}
	.head .logo{width: 9rem;background-image: url(../img/logo2.jpg);}
	.head .nav_icon li{float: left;}
	.head .nav_icon li span{display: block;width: 3rem;height:0.5rem;background-color: #0094da;border-radius:  0.25rem;margin:0.4rem 0;}
	.nav_list,.tools{display:block;}
	.nav_list li a{padding: 0.5rem 0;display: block;text-align: center;background-color: #eee;font-size:1.5rem;font-family: "微软雅黑";}
	.tools{width: 100%;height: 4.6rem;background-color: rgba(0,0,0,0.8);position: fixed;bottom: 0;left: 0;}
	.tools li{float: left;overflow: hidden;width: 25%;height: auto;}
	.tools li a{display: block;width: 100%;box-sizing:border-box;height: 4.6rem;text-align: center;color: #fff;font-family: "微软雅黑";font-size:1.4rem;}
	.tools li a:hover{background-color: #0094da;}
	.tools li a h5{font-weight:normal;line-height: 1rem;}
	.tools li a img{margin-top:0.6rem;}
	/* 首页 end */


	/* 资讯详情页info start */
	.cen2{padding:0 0.5rem;}
	.cen2b{padding: 15px 6px;}
	.info_details .info_con table td{word-wrap:break-word;word-break:break-all;padding-left:2px;}
	/* 资讯详情页info end */

	.cen2a .local{display: none;}


}

/* iphone end */
































































